WebAuthenticationDetail
  UserCredential
    Key= client.key
    Password= client.password
ClientDetail
  AccountNumber= client.account
  MeterNumber= client.meter
  Localization
    LanguageCode en
    LocaleCode us
TransactionDetail
  CustomerTransactionId Matey