AddressValidationRequest(xmlns="http://fedex.com/ws/addressvalidation/v2")
  == partial "header"
  Version
    ServiceId aval
    Major 2
    Intermediate 0
    Minor 0
  RequestTimestamp= Time.now.iso8601
  Options
    CheckResidentialStatus= options[:check_residential_status] ? 1 : 0
    MaximumNumberOfMatches= options[:maximum_number_of_matches]
    StreetAccuracy= options[:street_accuracy].to_s.upcase
    DirectionalAccuracy= options[:directional_accuracy].to_s.upcase
    CompanyNameAccuracy= options[:company_name_accuracy].to_s.upcase
    ConvertToUpperCase= options[:convert_to_upper_case] ? 1 : 0
    RecognizeAlternateCityNames= options[:recognize_alternate_city_names] ? 1 : 0
    ReturnParsedElements= options[:return_parsed_elements] ? 1 : 0
  AddressesToValidate
    Address
      StreetLines= location.address1
      City= location.city
      StateOrProvinceCode= location.state
      PostalCode= location.postal_code
      CountryCode= location.country